<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title</title>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")

    <!-- Owl Carousel files -->
    <link rel="stylesheet" type="text/css" href="~/Content/OwlCarousel/owl.carousel.css" />
    <link rel="stylesheet" type="text/css" href="~/Content/OwlCarousel/owl.theme.css" />
    <link rel="stylesheet" type="text/css" href="~/Content/OwlCarousel/owl.transitions.css" />
</head>
<body>

    <div class="container body-content">
        @RenderBody()
        <hr />
        <footer>
            <p>&copy; @DateTime.Now.Year - GoetzOnline.NET</p>
        </footer>
    </div>

    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")

    <script type="text/javascript" src="/Scripts/owl.carousel.min.js"></script>
    <script>
        $(document).ready(function() {
            $('.found_images').owlCarousel({
 
                autoPlay: 5000, //Set AutoPlay to 5 seconds
                stopOnHover: true,
                navigation: true, //Show next/previous buttons
                items : 1,  //One image at a time
                itemsDesktop: false,
                itemsDesktopSmall : false,
                itemsTablet: false,
                itemsMobile : false
 
            });

        });
    </script>
    @RenderSection("scripts", required: false)
</body>
</html>
